<div class="container">
  <h1>SpaceX Mission Launch List</h1>
  <form class="search" (ngSubmit)="searchMissionList(searchText)">
    <input
      type="text"
      [(ngModel)]="searchText"
      name="searchText"
      placeholder="Search by year"
      class="search-input"
    />

    <button class="search-btn" type="submit">Search</button>
  </form>
  <div class="no-data">
    {{ missionList.length === 0 ? "No data found" : "" }}
  </div>

  <ul>
    <li class="mission-card" *ngFor="let mission of missionList">
      <div class="mission-header">
        <img
          class="mission-patch"
          src="{{ mission.links.mission_patch_small }}"
        />
        <div>
          <h4 class="mission-name">
            {{ mission.mission_name }}
          </h4>
          <p class="mission-year">
            {{ mission.launch_year }}
          </p>
        </div>
      </div>
      {{ mission.details }}
      <br />
      <div class="mission-btn">
        <a [routerLink]="['/details/' + mission.flight_number]">Details </a>
      </div>
    </li>
  </ul>
</div>
